# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
---
BasedOnStyle: Chromium

UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 90
SpacesBeforeTrailingComments: 1

MaxEmptyLinesToKeep: 1
EmptyLineBeforeAccessModifier: Always

FixNamespaceComments: true

AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
AllowAllConstructorInitializersOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: false
BinPackArguments: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: false
PenaltyBreakComment: 0

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeWhile: true
